.navigation{
    background-color: rgb(231, 114, 18);
    height: 40px;
    width: 100%;
}
.body{
    margin: 0;
    padding: 0;
}
.mail{
    text-decoration: none;
    color: white;
}
.tel{
    text-decoration: none;
    color: white;   
}
.navdiv{
    margin-left: 120px;
    padding-top: 7px;
}
.brandlogo{
    height: 45px;
    width: 45px;
    padding-top: 24px;
    padding-left: 80px;
}
.secondnav{
    display: flex;
}
.home{
    text-decoration: none;
    font-size: larger;
    color: rgb(231, 114, 18);
}
.home:hover{
    color: rgb(231, 114, 18);
}
.about{
    text-decoration: none;
    font-size: larger;
    color: black;
}
.about:hover{
    color:rgb(231, 114, 18) ;
}
.services{
    text-decoration: none;
    font-size: larger;
    color: black;
}
.services:hover{
    color: rgb(231, 114, 18);
}
.contact{
    text-decoration: none;
    font-size: larger;
    color: black;
}
.contact:hover{
    color: rgb(231, 114, 18);
}
.div2{
    margin-left: 750px;
    padding-top: 30px;
}
.backgroundimage{
    background-image: url(tibackground-dWxnyo0QpeCyrV8Y.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 280px;
    width: 100%;
    padding-bottom: 30px;
}

.solutions{
    color: rgb(231, 114, 18) ;
}
.text{
    color: black;
    font-weight: bolder;
    padding-top: 65px;
    font-size: 50px;
}
.div3{
    padding-left: 150px;
    display: block;
    
}
.secondtext{
    color: black;
    font-size: 23px;
}
.button{
    border-radius: 5px;
    background-color: rgb(231, 114, 18) ;
    height: 40px;
    width: 135px;
    color: white;
    box-shadow: none;
    border-color: rgb(231, 114, 18);
}
.aboutdiv{
    padding-top: 40px;
    display: block;
}
.about1{
    color:rgb(231, 114, 18);
    font-size: 35px;
}
.aboutext{
    color: grey;
    font-size: 20px;
}
.servicetext{
    color:rgb(231, 114, 18) ;
    padding-top: 90px
}
.card{
    height: 330px;
    width: 300px;
    box-shadow: red;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: 40px;
    margin-top:40px;
    padding-left: 30px;
    
}
.card:hover{
    background-color: wheat;
}

.divcontainer{
    display: flex;
    padding-left: 65px;
}
.firstcardtext{
    color: black;
    font-size: larger;
}
.firstextdiv{
    display: block;
    padding-top: 55px;
}
.secondcardtext{
    color: black;
    font-size: larger;
}
.secondtextdiv{
    display: block;
    padding-top: 55px;
}
.thirdcardtext{
    color: black;
    font-size: larger;
}
.thirdtextdiv{
    display: block;
    padding-top: 55px;
}